@media only screen and (max-width:600px) {
    header {
        display: flex;
        justify-content: center;
        height: 100px;
    }

    #h5header {
        display: none;
    }

    .navbar {
        display: none;
    }


    article{
        
    }
    

    #img2{
        display: none;
    }

    #P1{
        font-size: 16px;
        
    }

}